<form>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input matInput [(ngModel)]="email"  [ngModelOptions]="{standalone:true}"type="email" placeholder="Email" required>
    </mat-form-field>
  </div>
  <div class="mb-4">
    <mat-form-field class="w-100">
      <input  [(ngModel)]="password" [ngModelOptions]="{standalone:true}" matInput type="password" placeholder="Password" required>
    </mat-form-field>
  </div>
  <div class="mb-3">
    <mat-checkbox>Remember Me</mat-checkbox>
    <span fxFlex></span> <a [routerLink]="['/session/forgot-password']">Forgot Password?</a>
  </div>
  <button color="accent" class="button-lg mb-3" mat-raised-button 
  (click)="signIn()" >Sign In</button>
  <p>Don't have an account? <a [routerLink]="['/session/signup']">Click here to create one</a></p>
</form>