<button mat-mini-fab class="log-in-user" [matMenuTriggerFor]="loginuser">
  <img *ngIf="model.documents && model.documents.length > 0" [src]="model.documents[0].documentPath" width="70" alt="Active User">
  <img *ngIf="!model.documents" src="assets/images/user.png" width="70" alt="Active User">
</button>
<mat-menu #loginuser="matMenu" >
  <span *ngIf="!pofileMenu">
    <button mat-menu-item fxLayoutAlign="start center" [routerLink]="['/session/signin']"><i class="material-icons mr-1">account_circle</i> <span>Sign In</span>
    </button>
    <button mat-menu-item [routerLink]="['/session/signup']"><i class="material-icons mr-1">settings</i><span>Sign Up</span></button>
  </span>
 <span *ngIf="pofileMenu">
  <button mat-menu-item fxLayoutAlign="start center" [routerLink]="['/account/profile']"><i class="material-icons mr-1">account_circle</i> <span>Profile</span>
  </button>
  <button mat-menu-item [routerLink]="['/account/profile']"><i class="material-icons mr-1">settings</i><span>Account</span></button>
  <button mat-menu-item [routerLink]="['/account/profile']"> <i class="material-icons mr-1">local_post_office</i> <span>Messages</span></button>
  <button mat-menu-item (click)="logOut()"><i class="material-icons mr-1">power_settings_new</i><span>Logout</span></button>
</span>
</mat-menu>
