<mat-card>
  <h4>Profile Information</h4>
  <div class="pt-3">
    <div class="proflie-field mb-3">
      <label>First Name:</label>
      <span>{{model.first_name}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Last Name:</label>
      <span>{{model.last_name}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Gender:</label>
      <span>{{model.gender}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Date of birth:</label>
      <span>{{model.date}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Mobile Number:</label>
      <span>{{model.phone_number}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>City</label>
      <span>{{model.city}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>E-mail id:</label>
      <span>{{model.email}}</span>
    </div>

    <button mat-raised-button color="accent" [routerLink]="['edit']" [queryParams]="{type:'info'}">Edit</button>
  </div>
</mat-card>
