<div class="inner-container bg-white section-gap-lg">
  <div class="container">
    <div fxLayout='row wrap' fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70">
        <div fxLayout='row wrap' fxLayoutAlign="center center">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="form-img register-image">
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card class="register-form form-margin">
              <h4>Enter your details</h4>
              <form [formGroup] = "signInForm">
                <div formGroupName="user_details">
                <div class="mb-4">
                  <mat-form-field class="w-100">
                    <input matInput type="text" formControlName="first_name" placeholder="First Name" required>
                    <mat-error *ngIf="signInForm.get('user_details.first_name').hasError('required') && signInForm.get('user_details.first_name').touched">This field should not be empty.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                    <input matInput type="text" placeholder="Last Name" formControlName="last_name" required>
                    <mat-error *ngIf="signInForm.get('user_details.last_name').hasError('required') && signInForm.get('user_details.last_name').touched">This field should not be empty.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                    <input matInput type="text" placeholder="City" formControlName="city" required>
                    <mat-error *ngIf="signInForm.get('user_details.city').hasError('required') && signInForm.get('user_details.city').touched">This field should not be empty.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                    <input matInput type="email" placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="signInForm.get('user_details.email').hasError('required') && signInForm.get('user_details.email').touched">This field should not be empty.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="Enter Password" formControlName="password" required>
                    <mat-error *ngIf="signInForm.get('user_details.password').hasError('required') && signInForm.get('user_details.password').touched">This field should not be empty.</mat-error>
                  </mat-form-field>
                </div>
                <!-- <div class="mb-4">
                  <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="Retype Password" required>
                  </mat-form-field>
                </div> -->
                <button color="accent" class="button-lg mb-3" type="button" (click)="submit()" mat-raised-button>Submit</button>
              <div> Already have account? then <a class="accent-color" [routerLink]="['/session/signin']">Sign In</a></div>
              </div>
              </form>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
