<ng-container *ngIf="pageTitle">
<embryo-PageTitle heading="{{pageTitle}}" subHeading="{{subPageTitle}}"></embryo-PageTitle>
<div class="inner-container section-gap">
  <div class="container">
    <!-- Products with free api key  -->
   
      <div fxLayout="row wrap"  class="col-gap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="25" fxFlex.xl="25">
          <div class="mat-card mb-4">
            <!-- <ais-search-box placeholder="Search a product"></ais-search-box> -->
          </div>
          <div class="mat-card mb-4">
            <div class="facet-category-title">Show results for</div>
            <!-- <ais-hierarchical-menu
              [attributes]="['category', 'sub_category', 'sub_sub_category']"
              [sortBy]="['name:asc']"
            >
            </ais-hierarchical-menu> -->
          </div>
          <div class="mat-card mb-4">
            <!-- <ais-panel header="Categories">
              <ais-refinement-list
                attribute="materials"
                operator="or"
                limit="10"
              >
              </ais-refinement-list>
            </ais-panel> -->
          </div>
          <div class="mat-card mb-4">
              <!-- <ais-panel header="Colors">
                <ais-refinement-list
                  attribute="colors"
                  operator="or"
                  limit="10"
                >
                </ais-refinement-list>
              </ais-panel> -->
            </div>
            <div class="mat-card mb-4">
              <!-- <ais-panel header="Prices">
                <ais-range-slider attribute="price" [pips]="true" [tooltips]="true" [min]="0"></ais-range-slider>
              </ais-panel> -->
            </div>
            <div class="mat-card mb-4">
              <!-- <ais-panel header="CUSTOMER RATINGS"></ais-panel>
              <ais-rating-menu attribute="rating" andUpLabel=""></ais-rating-menu> -->
            </div>
            <div class="mat-card mb-4">
              <!-- <ais-clear-refinements buttonLabel="Clear all filters"></ais-clear-refinements> -->
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="75" fxFlex.xl="75" class="algolia-main-list">
            <!-- <ais-stats></ais-stats>
            <ais-panel header="Sort by">
              <ais-sort-by
              [items]="[
                {name: 'ikea', label: 'Featured'},
                {name: 'ikea_price_asc', label: 'Price asc.'},
                {name: 'ikea_price_desc', label: 'Price desc.'}
              ]
              ">
              </ais-sort-by>
            </ais-panel>
            <ais-hits-per-page [items]="[
                { value: 3, label: '3 per page' },
                { value: 6, label: '6 per page' },
                { value: 12, label: '12 per page', default:true}
             ]"></ais-hits-per-page> -->

                <ng-container *ngIf="products.length > 0">
                  <embryo-ProductGrid [currency]="embryoService?.currency" [products]="products" (addToCart)="addToCart($event)" (addToWishList)="addToWishList($event)" gridThree=true> 
                  </embryo-ProductGrid>
                </ng-container>
             
          
          </div>
        </div>
     
    </div>
  </div>
</ng-container>

